@import url('./reset.css');
@import url('../font/font.css');


body {
    background: #2c2c2c url('../img/background-body.jpg');
}

.main-header {
    display: flex;
    width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.main-header img {
    margin-right: 220px;
    max-width: 200px;
    height: 30px;
}

.main-header a {
    font-size: 24px;
    color: whitesmoke;
    font-family: 'Roboto', Courier, monospace;
    word-spacing: 1px;
    font-style: italic;
    margin-left: 60px;
}

.main-cover {
    width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 50px;
}

.main-section h1 {
    color: #ffffff;
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
}

.main-section span,
.third-main span {
    color: #ffd5ab;
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-weight: normal;
}

.main-section p,
.third-main p,
.final-main p {
    color: #a3a3a3;
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
}

.small-box,
.small-box-second {
    width: 400px;
    height: auto;
    margin-top: 60px;
    display: flex;
    gap: 20px;
    margin-left: 150px;
}

.small-box h2,
.small-box-second h2,
.third-main h2,
.final-main h2 {
    color: #ffffff;
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 35px;
    line-height: 46px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
}

.baker-bread {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.baker-bread-second {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    padding-bottom: 40px;
}

.total,
.total-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.total-1 {
    gap: 10px;
}

.total img {
    width: 216px;
    height: 181px;
}

.total-1 img {
    width: 330px;
    height: 230px;
}

.total p,
.total-1 p {
    width: 200px;
    color: #ffffff;
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
}

.total-1 p {
    width: 170px;
    margin-left: 60px;
    text-align: center;
}

.total span,
.total-1 span {
    color: #ffd5ab;
    font-family: Arial, sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    font-weight: normal;
    margin-top: 10px;
    margin-right: 10px;
}

.total-1 span {
    margin-left: 120px;
}

.total a,
.total-1 a,
.third-main a {
    max-width: 100px;
    color: #ffffff;
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    padding: 14px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 55px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.total-1 a {
    margin-left: 100px;
}

.third-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    padding: 30px 40px;
    border-radius: 12px;
    border: 2px solid #ffd5ab;
    font-weight: normal;
}

.third-main a {
    max-width: 150px;
    height: 50px;
    margin-left: 230px;
    margin-top: 30px;
}

.third-main p {
    margin-top: 30px;
}

.final-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.social {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.soc {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #9ea6b3;
    margin-bottom: 20px;
    padding-top: 3px;
    padding-left: 8px;
}

footer h3 {
    color: #999999;
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    font-weight: normal;
}

footer a {
    margin-bottom: 30px;
    color: #a3a3a3;
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
}